:root {
    --foreground:  #111111;
    --background:  #f1f1f1;
    --light-gray:  #efefef;
    --light-blue:  #e8f4fd;
    --blue:  #0d3c61;
    --green:  #01653a;
}
body {
    color: var(--foreground);
    max-width: 700px;
    margin: auto;
    font-family: "DejaVu Sans", Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.5em 0 0;
    line-height: 1.2em;
}
h1+h2, h2+h3, h3+h4, h4+h5 {
    margin: .5em 0 0;
}
h6+p {
    display: inline;
}
p {
    margin: 1.5em 0;
    line-height: 1.5em;
}
ul {
    margin: .5em 0;
    padding: 0 1em 0;
    list-style-type: square;
}
ul li {
    line-height: 1.5em;
}
ul li::marker {
    color: var(--light-gray);
}
ul {
	margin-left: 5px;
}
hr {
	color: grey;
}
.blog {
	border-left: 3px solid rgb(62, 86, 97);
    	padding-left: 20px;
}
a {
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    margin: 0 -1em 0;
    padding: .5em 1em;
}
header p {
    margin: 0;
    font-size: 1.5em;
    flex: 1;
    word-break: keep-all;
    white-space: pre;
}
header nav ul {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}
